@model VnBookLibrary.Model.Entities.GroupRole

@{
    ViewBag.Title = "Thêm nhóm quyền";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Thêm nhóm quyền</h3>
<div class="col-lg-6 col-md-6">
    @using (Html.BeginForm())
    {
        <h4>GroupRole</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GroupRoleName, "Tên nhóm quyền", htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GroupRoleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" value="Thêm nhóm quyền" class="btn btn-success" />
            </div>
        </div>
    }
</div>
