@model IEnumerable<VnBookLibrary.Model.Entities.Role>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h2>Index1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupRole.GroupRoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupRole.GroupRoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoleCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleCode })
        </td>
    </tr>
}

</table>
