@using VnBookLibrary.Model.Entities;
@using System.Collections.Generic;
@using VnBookLibrary.Web.Areas.Manage.Customizes
@{
    ViewBag.Title = "Danh sách các quyền | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";

    List<GroupRole> groupRoles = (List<GroupRole>)ViewData["ListGroupRole"];
    var alow = ManageSession.HasRole(null);    
}

<h3>
    Danh sách quyền theo nhóm
    @{
        if (alow)
        {
            <a style="float:right" class="btn btn-sm btn-success" href="@Url.Action("CreateGroup","Role",new { Area="Manage"})">Thêm nhóm quyền</a>
        }
        else
        {
            <a style="float:right" class="btn btn-sm btn-success" title="Bạn không có quyền này" href="javascript:void(0)">Thêm nhóm quyền</a>
        }
    }
</h3>
<div class="clearfix"></div>
<hr />
<div>
    @foreach (var groupRole in groupRoles)
    {
        <div class="panel panel-primary" idGroupRole="@groupRole.GroupRoleId">
            <div class="panel-heading">
                <h4 style="cursor:pointer" title="Xem" idGroupRole="@groupRole.GroupRoleId" class="panel-title">Nhóm quyền @groupRole.GroupRoleName <i style="float:right" class="glyphicon glyphicon-menu-left"></i></h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" style="padding-top:0px;display:none;padding-top:10px">
                <table class="table table-bordered table-striped UseDataTables" style="margin:0px;">
                    <thead>
                        <tr>
                            <th>Mã quyền</th>
                            <th>Tên quyền</th>
                            <th>Mô tả</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in groupRole.Roles)
                        {
                            <tr>
                                <td>@role.RoleCode</td>
                                <td>@role.RoleName</td>
                                <td>@role.Description</td>
                                <td style="text-align:center">
                                    @{
                                        if (alow)
                                        {
                                            <a title="Sửa" href="@Url.Action("Edit", "Roles", new { Area = "Manage", id = role.RoleCode })"><i class="glyphicon glyphicon-edit fa-lg"></i></a>
                                        }
                                        else
                                        {
                                            <a title="Bạn không có quyền sửa" href="javascript:void(0)" style="cursor:not-allowed"><i class="glyphicon glyphicon-edit fa-lg"></i></a>
                                        }

                                        if (alow)
                                        {
                                            <text>
                                                @using (Html.BeginForm("Delete", "Roles", new { id = role.RoleCode, Area = "Manage" }, FormMethod.Post, new { @id = "FormDeleteEmployeeType", style = "display:inline-block" }))
                                                {
                                                    <a href="javascript:void(0)" onclick="SubmitFormDeleteEmployeeType()" title="Xóa"><i class="glyphicon glyphicon glyphicon-trash fa-lg" style="color:red"></i></a>
                                                }
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <a href="javascript:void(0)" title="Bạn không có quyền xóa" style="cursor:not-allowed"><i class="glyphicon glyphicon glyphicon-trash fa-lg" style="color:red"></i></a>
                                            </text>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @if (alow)
                {
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Create", "Roles", new { Area = "Manage", idGroup = groupRole.GroupRoleId })">Thêm quyền cho nhóm này</a>
                }
                else
                {
                    <a class="btn btn-sm btn-danger" style="cursor:not-allowed" title="Bạn không có quyền này" href="javascript:void(0)">Thêm quyền cho nhóm này</a>
                }
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $(".panel-title").click(function (e) {
            let idGroupRole = $(this).attr("idGroupRole");
            $(".panel[idGroupRole='" + idGroupRole + "'] .panel-body").slideToggle();
            $(".panel[idGroupRole='" + idGroupRole + "'] .panel-title i").toggleClass("glyphicon-menu-left");
            $(".panel[idGroupRole='" + idGroupRole + "'] .panel-title i").toggleClass("glyphicon-menu-down");
        })
    </script>
}
