@using VnBookLibrary.Web.Areas.Manage.Customizes;
@using VnBookLibrary.Web.Areas.Manage.Models;
@using VnBookLibrary.Repository.Commons;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link href="~/Assets/Manage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Assets/Manage/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="~/Assets/Manage/vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Assets/Manage/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Assets/Manage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Lobibox-->
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/dist/css/lobibox.min.css" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <style>
        .dataTables_filter input[type="search"] {
            width: 250px !important;
        }

        .dataTables_info, .dataTables_empty {
            color: red;
        }

        .field-validation-error {
            color: red !important;
        }

        .select2-selection--single {
            height: 33px !important;
        }

        .select2-selection__rendered {
            line-height: 33px !important;
        }

        .scroll-top-wrapper {
            position: fixed;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            text-align: center;
            z-index: 99999999;
            background-color: #777777;
            color: #eeeeee;
            width: 50px;
            height: 48px;
            line-height: 48px;
            right: 30px;
            bottom: 30px;
            padding-top: 2px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

            .scroll-top-wrapper:hover {
                background-color: #888888;
            }

            .scroll-top-wrapper.show {
                visibility: visible;
                cursor: pointer;
                opacity: 1.0;
            }

            .scroll-top-wrapper i.fa {
                line-height: inherit;
            }
    </style>
</head>

<body>
    @{
        ManageSessionModel manageSessionModel = (ManageSessionModel)ManageSession.GetSession(Constants.MANAGE_SESSION);
    }
    <div id="wrapper">
        <div style="height:51px;position:fixed;width:100%;background:#f8f8f8;z-index:999;border-bottom:1px solid #e7e7e7">
            <ul class="nav navbar-top-links navbar-right">               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="@manageSessionModel.SessionEmployee.EmployeeName">
                        <i class="fa fa-user fa-fw"></i>&nbsp;@manageSessionModel.SessionEmployee.LoginName &nbsp; <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="padding:3px;">
                        @*<li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> Xem hồ sơ</a>
                            </li>*@
                        <li style="padding:0px">
                            <a style="color:#337ab7;padding:5px 0px;" href="@Url.Action("ChangePassword","Employees",new {area="Manage"})"><i class="fa fa-gear fa-fw"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            @using (Html.BeginForm("Logout", "Login", new { Area = "Manage" }, FormMethod.Post, new { @id = "LogoutManage" }))
                            {
                                <a href="javascript:void(0)" style="text-decoration:none;padding:5px 0px;display:block" onclick="document.getElementById('LogoutManage').submit()"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                            }

                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;position:fixed">
            <div class="navbar-header" style="width:250px!important;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Manage/ManageHome">VnBook</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","ManageHome",new { Area="Manage"})"><i class="fa fa-dashboard fa-fw"></i> Trang chủ quản lý</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-book fa-fw"></i> Quản lý Sách - Nhãn<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","Products",new { Area="Manage"})">Danh sách sách</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create","Products",new { Area="Manage"})">Thêm sách</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Tags",new { Area="Manage"})">Danh sách nhãn</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create","Tags",new { Area="Manage"})">Thêm nhãn</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Nhân viên - Loại nhân viên<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","Employees",new { Area="Manage"})">Danh sách nhân viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create","Employees",new { Area="Manage"})">Thêm nhân viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","EmployeeTypes",new { Area="Manage"})">Danh sách loại nhân viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create","EmployeeTypes",new { Area="Manage"})">Thêm loại nhân viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Roles",new { Area="Manage"})">Xem các quyền</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Bills",new { Area="Manage"})"><i class="fa fa-money fa-fw"></i> Quản lý hóa đơn</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Customers",new { Area="Manage"})"><i class="fa fa-users fa-fw"></i> Quản lý khách hàng</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-newspaper-o fa-fw"></i> Liên hệ - Bài viết - Sự kiện<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","News",new { Area="Manage"})">Danh sách Bài viết - Tin tức</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create","News",new { Area="Manage"})">Thêm Bài viết - Tin tức</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Contacts",new { Area="Manage"})">Danh sách Liên hệ khách hàng</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-share-alt-square fa-fw"></i> Tương tác của khách hàng<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","CommentProducts",new { Area="Manage"})">Duyệt bình luận khách hàng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","RateProducts",new { Area="Manage"})">Thống kê đánh đánh giá sách</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","LikeProducts",new { Area="Manage"})">Thống kê Lượt thích  sách</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","BookCategories",new { Area="Manage"})"><i class="fa fa-folder-open fa-fw"></i> Danh mục - Tác giả - NXB,NPH</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="padding:0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="margin-top:51px">
                        @RenderBody()
                    </div>
                    <div class="col-lg-12">
                        <div class="scroll-top-wrapper " title="Đầu trang">
                            <span class="scroll-top-inner">
                                <i class="fa fa-2x fa-arrow-circle-up"></i>
                            </span>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/Manage/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/Manage/dist/js/sb-admin-2.js"></script>

    <script src="~/Scripts/notify.js"></script>

    <script src="~/PluginFrontend/lobibox-master/js/lobibox.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {

                $(document).on('scroll', function () {

                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });

                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop() {
                verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
            }


            $.validator.addMethod(
                "regex",
                function (value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Không đúng định dạng."
            );
            $.validator.addMethod(
                "notNull",
                function (value, element, check) {
                    if (check && value.trim() == "")
                        return false;
                    return true;
                },
                "Không được để trống hay(phải có ký tự khác ký tự trống)!"
            );

            Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
                soundPath: '../../../../PluginFrontend/lobibox-master/sounds/',
            });
            $('.UseDataTables').DataTable({
                "language": {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "Số bản ghi _MENU_",
                    "sZeroRecords": "Không có bản ghi nào",
                    "sInfo": "Từ bản ghi _START_ đến bản gi _END_ trong tổng số _TOTAL_ bản ghi",
                    "sInfoEmpty": "Không có bản ghi nào",
                    "sInfoFiltered": "(được lọc từ _MAX_ bản ghi)",
                    "sInfoPostFix": "",
                    "sSearch": "Tìm kiếm: ",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "<i class='fa fa-angle-double-left fa-lg'></i>",
                        "sPrevious": "<i class='fa fa-angle-left fa-lg'></i>",
                        "sNext": "<i class='fa fa-angle-right fa-lg'></i>",
                        "sLast": "<i class='fa fa-angle-double-right fa-lg'></i>"
                    }
                },
                "pagingType": "full_numbers",
                "stateSave": true
            });
            $('.UseSelect2').select2();
        });
    </script>
    @{
        if (TempData["NotifyLogin"] != null)
        {
            <script>
                var jsonNotify = @Html.Raw(Json.Encode(TempData["NotifyLogin"]));
                $(document).ready(function () {
                    Lobibox.notify('success', {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: jsonNotify.Message,
                        sound: false,
                    });
                });
            </script>
        }
        if (TempData["Notify"] != null)
        {
            <script>
                var jsonNotify = @Html.Raw(Json.Encode(TempData["Notify"]));
                $(document).ready(function () {
                    if (jsonNotify.Status == true) {
                        Lobibox.notify('success', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                    else {
                        Lobibox.notify('warning', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                });
            </script>
        }
    }
    @RenderSection("scripts", required: false)
    @RenderSection("stylesheet", required: false)
</body>

</html>

