@model IEnumerable<VnBookLibrary.Model.Entities.CommentProduct>
@foreach (var item in Model)
{
    <tr id_Comment="@item.CommentProductId">
        <td>
            @(item.Customer.CustomerName + " (" + item.Customer.CustomerName + ")")

        </td>
        <td>
            @item.Product.ProductName
        </td>
        <td>
            @item.Comments
        </td>
        <td data-order="@(Html.Raw(Json.Encode(item.CommentDate)).ToString())">@item.CommentDate</td>
        @if (item.AlowDisplay == true)
        {
            <td id_Comment="@item.CommentProductId" data-order="1">
                Hiển thị
            </td>
        }
        else
        {
            <td id_Comment="@item.CommentProductId" data-order="0">
                Không hiển thị
            </td>
        }
        <td style="text-align:center">
            @if (item.AlowDisplay == true)
            {
                using (Ajax.BeginForm("DisplayComment", "CommentProducts", new { id = item.CommentProductId, isDisplay = false, Area = "Manage" }, new AjaxOptions()
                {
                    OnSuccess = "SuccessDisplayComment",
                    HttpMethod = "POST"
                }, new { style = "display:inline-block" }))
                {
                    <button type="submit" style="padding:0px;border: none;color:black;background: transparent;" href="javascript:void(0)" class=" glyphicon glyphicon-eye-close fa-lg" title="Ẩn bình luận"></button>
                }
            }
            else
            {
                using (Ajax.BeginForm("DisplayComment", "CommentProducts", new { id = item.CommentProductId, isDisplay = true, Area = "Manage" }, new AjaxOptions()
                {
                    OnSuccess = "SuccessDisplayComment",
                    HttpMethod = "POST"
                }, new { style = "display:inline-block" }))
                {
                    <button type="submit" class=" glyphicon glyphicon-eye-open fa-lg" style="padding:0px;color:green;border: none;background: transparent;" title="Hiện bình luận"></button>
                }
            }
            @using (Ajax.BeginForm("Delete", "CommentProducts", new { id = item.CommentProductId, Area = "Manage" }, new AjaxOptions()
            {
                OnSuccess = "SuccessDelete",
                HttpMethod = "POST"
            }, new { style = "display:inline-block" ,@id="FormDelete"+item.CommentProductId}))
            {
                <button type="button" onclick="SubmitDelete(@item.CommentProductId)" style="padding:0px;color:red;border: none;background: transparent;" class=" glyphicon glyphicon-trash fa-lg" title="Xóa bình luận"></button>
            }
        </td>
    </tr>
}
