@using VnBookLibrary.Model.Entities;
@using System.Globalization;
@using VnBookLibrary.Web.Models;
@{
    Product product = ViewBag.Product;
    RateProduct rateProduct = ViewBag.Rate ?? null;
    Customer customer = null;
    List<CommentProduct> commentProducts = ViewBag.CommentProducts ?? null;
    if (ViewBag.Customer != null)
    {
        customer = (Customer)ViewBag.Customer;
    };
    List<RateProduct> rateProducts = ViewBag.RateProducts ?? null;
    int numberLikes = ViewBag.NumberLike ?? 0;
    bool liked = ViewBag.Liked;
    double average = 0.0;
    int rate1 = 0, rate2 = 0, rate3 = 0, rate4 = 0, rate5 = 0;
    if (rateProducts != null && rateProducts.Count > 0)
    {
        foreach (var item in rateProducts)
        {
            average += item.Point ?? 0;
            if (item.Point == 1)
            {
                rate1++;
            }
            if (item.Point == 2)
            {
                rate2++;
            }
            if (item.Point == 3)
            {
                rate3++;
            }
            if (item.Point == 4)
            {
                rate4++;
            }
            if (item.Point == 5)
            {
                rate5++;
            }
        }
        average = average * 1.0 / (rateProducts.Count);
    }
}
<style>
    .error {
        font-size: 12px;
        color: red;
    }

    .DescriptionProduct p {
        color: black;
    }

    table, td, th {
        border: none !important;
    }

    .progress {
        height: 5px;
        margin-bottom: 5px;
    }

    .DivLogin {
        margin-top: 50px;
        padding: 10px;
    }
</style>
@if (product == null)
{
    <h4 style="color:red">Có lỗi!</h4>
}
<span>
    <a style="font-size:16px;" href="@Url.Action("Index", "Home")">Trang chủ</a><i class="fa fa-lg" style="font-weight:normal">&nbsp;&#xf0da;&nbsp;</i>
    <a style="font-size:16px;" href="@Url.Action("Index", "Home", new { CategoryLv1Id = product.CategoryLv1Id })">@product.CategoryLv1.CategoryLv1Name</a><i class="fa fa-lg" style="font-weight:normal">&nbsp;&#xf0da;&nbsp;</i>
    <a style="font-size:16px;" href="@Url.Action("Index", "Home", new { CategoryLv1Id = product.CategoryLv2Id })">@product.CategoryLv2.CategoryLv2Name</a><i class="fa fa-lg" style="font-weight:normal">&nbsp;&#xf0da;&nbsp;</i>@product.ProductName
</span>
<hr />
<div>
    <div class="row">
        <div class="col-md-3">
            <div style="height:250px;">
                <img height="100%" width="100%" style="border:1px solid #ccc;border-radius:5px;" src="@product.AvatarLink" />
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <tr>
                    <th style="font-size:20px; color:red" colspan="4">@product.ProductName</th>

                </tr>
                <tr>
                    <th>Giá bán:</th>
                    <td>@product.Price.ToString("c", new CultureInfo("vi-VN"))</td>
                    <th>Giá bìa:</th>
                    <td>@((product.CoverPrice ?? 0).ToString("c", new CultureInfo("vi-VN")))</td>
                </tr>
                <tr>
                    <th>Tác giả:</th>
                    @if (product.CategoryByAuthor != null)
                    {
                        <td>@product.CategoryByAuthor.CategoryAuthorName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <th>NXB - NPH:</th>
                    @if (product.CategoryByPublisher != null)
                    {
                        <td>@product.CategoryByPublisher.CategoryByPublisherName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <th>Danh mục sách cha:</th>
                    @if (product.CategoryLv1 != null)
                    {
                        <td>@product.CategoryLv1.CategoryLv1Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <th>Danh mục sách con:</th>
                    @if (product.CategoryLv2 != null)
                    {
                        <td>@product.CategoryLv2.CategoryLv2Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            </table>
            <div class="row" style="margin-top:40px;">
                <div class="col-md-4">
                    <button onclick="AddToCartDetail(@product.ProductId)" class="btn btn-danger btn-lg" title="Thêm vào giỏ" type="button"><i class="fa fa-cart-plus fa-lg" style="color:greenyellow"></i> Mua ngay</button>
                </div>
                <div class="col-md-8">
                    @if (customer != null)
                    {
                        <div style="">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (rateProduct == null)
                                    {
                                        @Html.Partial("_RateStar", new RateProductVM { CustomerId = customer.CustomerId, ProductId = product.ProductId, Point = 0 })
                                    }
                                    else
                                    {
                                        @Html.Partial("_RateStar", new RateProductVM { CustomerId = customer.CustomerId, ProductId = product.ProductId, Point = rateProduct.Point ?? 0 })
                                    }
                                </div>
                                <div class="col-md-6">
                                    @using (Ajax.BeginForm("LikeProduct", "Home", FormMethod.Post, new AjaxOptions()
                                    {
                                        OnSuccess = "LikeProductSuccess"
                                    }, new { @id = "FormLiked" }))
                                    {
                                        var strlike = liked ? "Bỏ thích" : "Thích";
                                        @Html.Hidden("StatusLike", liked ? "1" : "0")
                                        <input type="hidden" name="ProductId" value="@product.ProductId" />
                                        <input type="hidden" name="CustomerId" value="@customer.CustomerId" />
                                        <button type="submit" title="@strlike" class="btn btn-default btn-lg" style="background:white!important">
                                            @if (liked)
                                            {
                                                <text><span style="color:#3784ff"><i class="fa fa-thumbs-up fa-lg"></i>&nbsp; Thích</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:#afb2b7"><i class="fa fa-thumbs-up fa-lg"></i>&nbsp; </span>Thích</text>
                                            }
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="lead"  style="margin-bottom:5px;">
                                        <i title="Đăng nhập để tương tác!" style="cursor:pointer" class='fa fa-star-o'></i>
                                        <i title="Đăng nhập để tương tác!" style="cursor:pointer" class='fa fa-star-o'></i>
                                        <i title="Đăng nhập để tương tác!" style="cursor:pointer" class='fa fa-star-o'></i>
                                        <i title="Đăng nhập để tương tác!" style="cursor:pointer" class='fa fa-star-o'></i>
                                        <i title="Đăng nhập để tương tác!" style="cursor:pointer" class='fa fa-star-o'></i>
                                    </div>
                                    <span><a href="javascripi:void(0)" style="color:#0066c0" onclick="OpenLogin()">Đăng nhập</a> để tương tác!</span>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" title="Đăng nhập để tương tác!" class="btn btn-default btn-lg" style="background:white!important">
                                        <span style="color:#afb2b7"><i class="fa fa-thumbs-up fa-lg"></i>&nbsp; </span>Thích
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="DescriptionProduct" style="margin-top:20px;">
        @Html.Raw(product.Description)
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <div style="padding-top:20px;">
                        <p style="text-align:center;color:black">Đánh giá trung bình</p>
                        <p style="text-align:center">
                            (<span itemprop="ratingCount">@rateProducts.Count</span> - người đánh giá)
                        </p>
                        <p class="" style="text-align:center;color:red">@String.Format("{0:0.0}", average)</p>
                        <p style="text-align:center;color:black;margin-top:20px;">Lượt thích : <span style="color:red">@numberLikes</span></p>
                        @if (liked)
                        {
                            <p style="text-align:center">
                                (Bạn đã thích)
                            </p>
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>
                            <p class="number-start"><span>5</span> <i class="fa fa-star RateYellow"></i> <span style="float:right">@rate5</span></p>
                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@((rate5>0?rate5*1.0/rateProducts.Count:0)*100)%">
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="number-start"><span>4</span> <i class="fa fa-star RateYellow"></i> <span style="float:right">@rate4</span></p>
                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@((rate4>0?rate4*1.0/rateProducts.Count:0)*100)%">
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="number-start"><span>3</span> <i class="fa fa-star RateYellow"></i> <span style="float:right">@rate3</span></p>
                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@((rate3>0?rate3*1.0/rateProducts.Count:0)*100)%">
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="number-start"><span>2</span> <i class="fa fa-star RateYellow"></i> <span style="float:right">@rate2</span></p>
                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@((rate2>0?rate2*1.0/rateProducts.Count:0)*100)%">
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="number-start"><span>1</span> <i class="fa fa-star RateYellow"></i> <span style="float:right">@rate1</span></p>
                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@((rate1>0?rate1*1.0/rateProducts.Count:0)*100)%">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @if (customer != null)
            {
                <div>
                    @using (Ajax.BeginForm("CommentProduct", "Home", FormMethod.Post, new AjaxOptions()
                    {
                        OnSuccess = "CommentSuccsess",
                    }, new { @id = "FormComment" }))
                    {
                        <input type="hidden" name="ProductId" value="@product.ProductId" />
                        <input type="hidden" name="CustomerId" value="@customer.CustomerId" />
                        <div class="form-group" style="padding:0px 20px;">
                            <label>Nội dung bình luận <span style="color:red">*</span></label>
                            <textarea name="Comments" t class="form-control" style="max-width:100%!important;resize:none;height:60px;" placeholder="Nhập bình luận của bạn"></textarea>
                            <br />
                            <input type="submit" style="float:right" value="Bình luận" class="btn btn-primary" />
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <hr />
    <div>
        <div>
            @if (customer == null)
            {
                <div class="col-md-6">
                    <h4 style="color:green;margin-bottom:25px;">Nhận xét,bình luận từ khách hàng</h4>
                    @if (commentProducts != null && commentProducts.Count > 0)
                    {
                        foreach (var item in commentProducts)
                        {
                            <div style="border-bottom:1px dashed #ccc;border-top:1px dashed #ccc;padding:10px 0px">
                                <h5 style="font-weight:bold;font-size:20px;">@item.Customer.CustomerName</h5>
                                <span style="color:#afb2b7;font-size:12px"><i>@item.CommentDate</i></span>
                                <p style="color:black;padding-left:15px;"> @item.Comments</p>
                            </div>
                        }
                    }
                    else
                    {
                        <span>Chưa có nhận xét nào!</span>
                    }
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <h4 style="color:green;margin-bottom:25px;">Nhận xét,bình luận từ khách hàng</h4>
                    @if (commentProducts != null && commentProducts.Count > 0)
                    {
                        foreach (var item in commentProducts)
                        {
                            <div style="border-bottom:1px dashed #ccc;border-top:1px dashed #ccc;padding:10px 0px">
                                <h5 style="font-weight:bold;font-size:20px;">@item.Customer.CustomerName</h5>
                                <span style="color:#afb2b7;font-size:12px"><i>@item.CommentDate</i></span>
                                <p style="color:black;padding-left:15px;"> @item.Comments</p>
                            </div>
                        }
                    }
                    else
                    {
                        <span>Chưa có nhận xét nào!</span>
                    }
                </div>
            }<div class="col-md-6">
                @if (customer == null)
                {

                    <div id="loginSpecial" class="loginSpecial DivLogin" style="width:420px">
                        <p style="color:black;" class="note">Đăng nhập để tương tác với chúng tôi!</p>
                        <p style="margin-top:10px;">
                            <a href="javasxript:void(0)" class="btn btn-primary" id="loginSpecial" onclick="OpenLogin()">Đăng nhập</a>
                            <span class="not-have-account">
                                Bạn chưa có tài khoản?
                                Hãy
                                <a style="color:#0066c0" href="@Url.Action("SignUp", "Home")">Đăng ký</a>
                            </span>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    $(document).ready(function () {
        $("#FormComment").validate({
            rules: {
                Comments: {
                    required: true,
                },
            },
            messages: {
                Comments: {
                    required: 'Vui lòng nhập bình luận!',
                },
            }
        });
    })
    function CommentSuccsess() {
        Lobibox.notify('success', {
            size: 'mini',
            rounded: true,
            delayIndicator: false,
            msg:"Cảm ơn bạn đã nhận xét,Nhận xét của bạn đang chờ duyệt",
            sound: false,
        });
         DetailProduct(@product.ProductId)
    }
    function LikeProductSuccess() {
        DetailProduct(@product.ProductId)
    }
</script>
<script>
    function AddToCartDetail(productid) {
        AddToCart(productid);
        DetailProduct(productid)
    }
</script>