@using VnBookLibrary.Model.Entities;
@using PagedList.Mvc;
@using System.Globalization;
@model PagedList.IPagedList<Product>
@{ 
    Tag tag = ViewBag.Tag;
}
<style>
    .col20 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .block2-labelnew::before {
        display: none;
        background-color: #66a8a6;
        content: 'New';
    }

    .header1 {
        height: 110px !important;
    }

    ul.pagination {
        margin: 5px 0px;
    }
</style>

@if (Model.Count > 0)
{
    <h4 style="">Tags<i class='fa fa-lg' style='font-weight:normal'>&nbsp;&#xf0da;&nbsp;</i>@tag.TagName</h4>
    <div style="float:right;">
        @Html.PagedListPager(Model, page => Url.Action("_GetProductByTag", "Home",
             new {
                 tagId = tag.TagId,
                 page = page,
                 pageSize = Model.PageSize,
             }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions()
            {
                MaximumPageNumbersToDisplay = 15,
            },
            new AjaxOptions()
            { HttpMethod = "POST",
                UpdateTargetId = "ContentTag"
            }))
    </div>
    <div class="clearfix"></div>
}
<div class="row" style="margin-left:-10px;margin-right:-10px;">
    @if (Model.Count > 0)
    {

        foreach (var product in Model)
        {
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" style="margin-bottom:25px;padding:0px 10px">
                <!-- Product -->
                <!-- Block2 -->
                <div class="block2" style="border:1px solid black;border-radius:5px;">
                    <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                        <div style="height:200px;border-radius:5px 5px 0px 0px">
                            <img title="@product.ProductName" height="100%" style="border-radius:5px 5px 0px 0px" src="@product.AvatarLink" alt="@product.ProductName">
                        </div>
                    </div>

                    <div class="block2-txt p-t-20" style="background:#e9f96f4f;padding:5px 10px;overflow:auto">
                        <div style="height:50px;overflow:hidden">
                            <a href='@Url.Action("DetailProduct","Home",new {id=product.ProductId })' style="font-size:13px;font-weight:normal;color:#337ab7;font-weight:bold" title="@product.ProductName">
                                @product.ProductName
                            </a>
                        </div>
                        <div style="height:35px;">
                            <span style="display:block;font-size:13px;color:green;font-weight:normal">@product.Price.ToString("c", new CultureInfo("vi-VN")) </span>
                            @if (product.CoverPrice > 0)
                            {
                                <span style="display:block;font-size:13px;color:red;font-weight:normal;text-decoration:line-through">@((product.CoverPrice ?? 0).ToString("c", new CultureInfo("vi-VN")))</span>
                            }
                            <div class="clearfix"></div>
                        </div>
                        <div style="margin-top:15px;">
                            <a style="color:black" title="Xem chi tiết" href='@Url.Action("DetailProduct","Home",new {id=product.ProductId })' class="btn btn-default"><i style="color:black" class="glyphicon glyphicon-eye-open fa-lg"></i> Xem</a>
                            <button style="float:right" onclick="AddToCart(@product.ProductId)" class="btn btn-danger" title="Thêm vào giỏ" type="button"><i class="fa fa-cart-plus fa-lg" style="color:greenyellow"></i></button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
        <div style="float:right;margin-right:15px;">
            @Html.PagedListPager(Model, page => Url.Action("_GetProductByTag", "Home",
                new {
                    tagId = tag.TagId,
                    page = page,
                    pageSize = Model.PageSize,
                }),
               PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
               new PagedListRenderOptions()
               {
                   MaximumPageNumbersToDisplay = 15,
               },
               new AjaxOptions()
               { HttpMethod = "POST",
                   UpdateTargetId = "ContentTag"
               }))
        </div>
        <div class="clearfix"></div>
    }
    else
    {
        <p style="margin-left:15px;color:red;margin-bottom:30px;"> Không có sách nào trong tag này!</p>
    }
</div>
