@model VnBookLibrary.Web.Models.RateProductVM
<style>
    #stars i {
        margin-right: 10px;
    }
</style>
<div class="row lead">
    <div id="stars" class="starrr" data-rating='@Model.Point'></div>
    <span class="StarCount" style="font-size:16px;">
        @if (Model.Point > 0)
        {
            <text>Bạn đã đánh giá @Model.Point sao!</text>
        }
        else
        {
            <text>Hãy đánh giá chung tôi!</text>
        }
    </span>
</div>
<script>
    var __slice = [].slice;

    (function ($, window) {
        var Starrr;

        Starrr = (function () {
            Starrr.prototype.defaults = {
                rating: void 0,
                numStars: 5,
                change: function (e, value) { }
            };

            function Starrr($el, options) {
                var i,
                    _,
                    _ref,
                    _this = this;

                this.options = $.extend({}, this.defaults, options);
                this.$el = $el;
                _ref = this.defaults;
                for (i in _ref) {
                    _ = _ref[i];
                    if (this.$el.data(i) != null) {
                        this.options[i] = this.$el.data(i);
                    }
                }
                this.createStars();
                this.syncRating();
                this.$el.on("mouseover.starrr", "i", function (e) {
                    return _this.syncRating(
                        _this.$el.find("i").index(e.currentTarget) + 1
                    );
                });
                this.$el.on("mouseout.starrr", function () {
                    return _this.syncRating();
                });
                this.$el.on("click.starrr", "i", function (e) {
                    return _this.setRating(
                        _this.$el.find("i").index(e.currentTarget) + 1
                    );
                });
                this.$el.on("starrr:change", this.options.change);
            }

            Starrr.prototype.createStars = function () {
                var _i, _ref, _results;

                _results = [];
                for (
                    _i = 1, _ref = this.options.numStars;
                    1 <= _ref ? _i <= _ref : _i >= _ref;
                    1 <= _ref ? _i++ : _i--
                ) {
                    _results.push(this.$el.append("<i class='fa fa-star-o'></i>"));
                }
                return _results;
            };

            Starrr.prototype.setRating = function (rating) {
                if (this.options.rating === rating) {
                    rating = void 0;
                }
                this.options.rating = rating;
                this.syncRating();
                return this.$el.trigger("starrr:change", rating);
            };

            Starrr.prototype.syncRating = function (rating) {
                var i, _i, _j, _ref;

                rating || (rating = this.options.rating);
                if (rating) {
                    for (
                        i = _i = 0, _ref = rating - 1;
                        0 <= _ref ? _i <= _ref : _i >= _ref;
                        i = 0 <= _ref ? ++_i : --_i
                    ) {
                        this.$el
                            .find("i")
                            .eq(i)
                            .removeClass("fa-star-o ")
                            .addClass("fa-star RateYellow");
                    }
                }
                if (rating && rating < 5) {
                    for (
                        i = _j = rating;
                        rating <= 4 ? _j <= 4 : _j >= 4;
                        i = rating <= 4 ? ++_j : --_j
                    ) {
                        this.$el
                            .find("i")
                            .eq(i)
                            .removeClass("fa-star RateYellow")
                            .addClass("fa-star-o ");
                    }
                }
                if (!rating) {
                    return this.$el
                        .find("i")
                        .removeClass("fa-star RateYellow")
                        .addClass("fa-star-o");
                }
            };

            return Starrr;
        })();
        return $.fn.extend({
            starrr: function () {
                var args, option;

                (option = arguments[0]),
                    (args = 2 <= arguments.length ? __slice.call(arguments, 1) : []);
                return this.each(function () {
                    var data;

                    data = $(this).data("star-rating");
                    if (!data) {
                        $(this).data(
                            "star-rating",
                            (data = new Starrr($(this), option))
                        );
                    }
                    if (typeof option === "string") {
                        return data[option].apply(data, args);
                    }
                });
            }
        });
    })(window.jQuery, window);

    $(function () {
        return $(".starrr").starrr();
    });

    $(document).ready(function () {
        $("#stars").on("starrr:change", function (e, value) {
            if (value > 0)
                $(".StarCount").html("Bạn đã đánh giá " + value + " sao!");
            else {
                value = 0;
                $(".StarCount").html("Hãy đánh giá chung tôi !");
            }
            $.ajax({
                url: '@Url.Action("RateProduct", "Home")',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "ProductId": "@Model.ProductId", "CustomerId": "@Model.CustomerId", "Point": value }),
                contentType: 'application/json;charset=utf-8',
                success: function (rs) {
                   $.ajax({
                        url: '@Url.Action("_DetailProduct", "Home")',
                        type: 'POST',
                        dataType: 'html',
                        data: JSON.stringify({"productId":"@Model.ProductId"}),
                        contentType: 'application/json;charset=utf-8',
                        success: function (html) {
                            $("#ModalDetail .modal-body").html(html);
                        },
                    });
                },
            });
        });
    });
</script>
