@using VnBookLibrary.Web.Models;
@using VnBookLibrary.Repository.Commons;
<!DOCTYPE html>
@using VnBookLibrary.Model.Entities;
@using VnBookLibrary.Repository.Commons;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{
        List<CartVM> listCart = new List<CartVM>();
        if (Session[Constants.CART_SESSION] != null)
        {
            listCart = (List<CartVM>)Session[Constants.CART_SESSION];
        }
        int numberOfBook = 0;
        if (listCart.Count > 0)
        {
            foreach (var item in listCart)
            {
                numberOfBook += item.Quantity;
            }
        }
        Customer customer = (Customer)Session[Constants.CUSTOMER_SESSION];
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/Assets/Template/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Template/css/main.css">
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/dist/css/lobibox.min.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/PluginFrontend/OwlCarousel/css/owlcarousel.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/PluginFrontend/OwlCarousel/js/owlcarousel.js"></script>
    <style>
        .main_menu > li a {
            font-weight: bold;
        }

        .p-b-65 {
            padding-bottom: 0px;
        }

        .p-t-55 {
            padding-top: 0px;
        }

        .fixed-header {
            height: 125px !important;
        }

            .fixed-header .wrap_header {
                height: 80px !important;
            }

        input {
            max-width: 100%;
            border: 1px solid #ccc !important;
        }

        .select2-selection--single {
            height: 33px !important;
        }

        .select2-selection__rendered {
            line-height: 33px !important;
        }

        .select2 {
            width: 100% !important;
        }

        .block2-overlay > a {
            display: none;
        }


        .block2-labelnew::before {
            display: none !important;
        }

        /* Full-width input fields */
        #DivLogin input[type=text], input[type=password] {
            border-radius: 5px;
            width: 100%;
            padding: 5px 10px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */

        #DivLogin button:hover {
            opacity: 0.8;
        }       

        /* Center the image and position the close button */
        #DivLogin .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        #DivLogin img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        #DivLogin .container {
            padding: 16px;
        }


        /* The Modal (background) */
        #DivLogin .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 9999; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow:auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */            
        }

        /* Modal Content/Box */
        #DivLogin .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        #DivLogin .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

            #DivLogin .close:hover,
            .close:focus {
                color: red;
                cursor: pointer;
            }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @@-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @@keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @@media screen and (max-width: 300px) {
            #DivLogin span.psw {
                display: block;
                float: none;
            }            
        }        
    </style>
</head>
<body class="animsition">
    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar" style="background:#000000;">
                <div class="topbar-social">
                    <span style="font-size:13px;color: white"><i class="fa fa-phone fa-lg"></i> Hotline:1900 1234 | <i class="fa fa-at fa-lg"></i> Email:book@gmail.com</span>
                </div>

                <span class="topbar-child1" style="font-size:13px;color: white">
                    Miễn phí vận chuyển với hóa đơn trên 500.000 vnđ
                </span>
                <div class="topbar-child2">
                    <span class="topbar-email" style="font-size:13px;color: white">
                        @if (customer != null)
                        {
                            <a style="color:#fff;" href="javascript:void(0)">@customer.CustomerName &nbsp;|&nbsp;</a>

                            using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { style = "display:inline-block", id = "FLogOut" }))
                            {
                                <a style="color:#fff;cursor:pointer" href="javascript:void(0)" onclick="LogOut()"><i class="fa fa-sign-out fa-lg"></i>Đăng xuất</a>
                            }
                        }
                        else
                        {
                            <a style="color:#fff;" href="@Url.Action("SignUp","Home")">Đăng ký</a><span>&nbsp;|&nbsp;</span>
                            <a style="color:#fff;" href="javascript:void(0)" onclick="document.getElementById('ModalLogin').style.display='block'">Đăng nhập</a>
                        }
                    </span>
                </div>
            </div>

            <div class="wrap_header">
                <!-- Logo -->
                <a href='@Url.Action("Index","Home")' class="logo" style="height:100%;display:block;text-decoration:none;" title="Trang chủ VnBook">
                    <h2 style="height:100%;line-height:80px">VnBook</h2>
                </a>
                @{Html.RenderAction("_PartialMenu", "Home");}
                <!-- Header Icon -->
                <div class="header-icons">
                    <nav class="menu" style="margin-right:30px">
                        <ul class="main_menu" style="text-align:right">
                            @if (Request.Url.AbsolutePath == @Url.Action("News", "Home"))
                            {
                                <li class="sale-noti">
                                    <a href='@Url.Action("News", "Home")'>Bài viết</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href='@Url.Action("News", "Home")'>Bài viết</a>
                                </li>
                            }
                            @if (Request.Url.AbsolutePath == @Url.Action("AboutUs", "Home"))
                            {
                                <li class="sale-noti">
                                    <a href='@Url.Action("AboutUs", "Home")'>Giới thiệu</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href='@Url.Action("AboutUs", "Home")'>Giới thiệu</a>
                                </li>
                            }
                            @if (Request.Url.AbsolutePath == @Url.Action("Contact", "Home"))
                            {
                                <li class="sale-noti">
                                    <a href='@Url.Action("Contact", "Home")'>Liên hệ</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href='@Url.Action("Contact", "Home")'>Liên hệ</a>
                                </li>
                            }
                        </ul>
                    </nav>
                    @using (Html.BeginForm("Books", "Home", FormMethod.Get, new { @id = "FormSearch", style = "display:inline-block" }))
                    {
                        <div class="" style="border:1px solid #808080;margin-right:30px;padding:3px 3px 3px 10px;border-radius:15px;">
                            <i class="fa fa-search fa-lg" style="margin-right:5px;"></i>
                            <input class="" value="@ViewBag.Search" name="Search" style="font-size:14px;height:30px;width:250px;border:none!important" />
                            <button style="display:inline-block ;border-radius:10px;" title="Tìm sách" class="btn btn-success btn-sm" type="submit">Tìm sách</button>
                        </div>
                    }

                    <div class="header-wrapicon2">
                        <img src="~/Assets/Template/images/shopping_cart.png" onclick="ViewBoxCart()" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span id="listCartCount" class="header-icons-noti">@numberOfBook</span>

                        <!-- Header cart noti -->
                        <div id="dropdownCart" class="header-cart header-dropdown">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Content page -->
    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg6 p-t-30 p-b-30 p-l-45 p-r-45">
        <div class="container">           
            <div class="t-center p-l-15 p-r-15">
                <div style="color:black;font-size:16px" class="t-center s-text8 p-t-15">
                    Copyright © 2019 All rights reserved. | This is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Vũ Đình Huy</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top" title="Đầu trang">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>
    <div id="DivLogin">        
        <div id="ModalLogin" class="modal">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "modal-content animate", style = "padding:10px; max-width:650px!important" }))
            {
                @Html.Hidden("returnUrl", Context.Request.Url.AbsolutePath)

                <div class="imgcontainer">
                    <span onclick="document.getElementById('ModalLogin').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img style="height:250px" src="~/Assets/Pic/img_avatar.png" alt="Avatar" class="avatar">
                </div>
                <div class="form-group">
                    <label for="loginName"><b>Tên đăng nhập</b></label>
                    <input type="text" placeholder="Tên đăng nhập" id="loginName" name="loginName" required>
                </div>
                <div class="form-group">
                    <label for="password"><b>Mật khẩu</b></label>
                    <input type="password" placeholder="Mật khẩu" id="password" name="password" required>
                </div>
                <button style="width:100%" class="btn btn-success" type="submit">Đăng nhập</button>
                <p style="text-align:center;color:black;margin:5px">hoặc</p> <a class="btn btn-primary" style="width:100%;color:#fff;" href="@Url.Action("LoginFacebook","Home")"><i class="fa fa-facebook fa-lg" style="color:#fff"></i> Đăng nhập bằng Facebook</a>
                <button style="margin-top:15px;float:right" type="button" onclick="document.getElementById('ModalLogin').style.display='none'" class="btn btn-danger">Đóng</button>
                <div class="clearfix"></div>
            }
        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('ModalLogin');
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </div>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Assets/Template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Template/js/main.js"></script>
    <script src="~/PluginFrontend/lobibox-master/js/lobibox.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @if (TempData["Notify"] != null)
    {
        <script>
            var jsonNotify = @Html.Raw(Json.Encode(TempData["Notify"]));
            Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
                soundPath: '../../PluginFrontend/lobibox-master/sounds/',
            });
                $(document).ready(function () {
                    if (jsonNotify.Status == true) {
                        Lobibox.notify('success', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                    else {
                        Lobibox.notify('warning', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                });
        </script>
    }
    <script>
        $(document).ready(function () {
            Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
                soundPath: '../../PluginFrontend/lobibox-master/sounds/',
            });
        });
        function LoadRecomendByCart() {
            $.ajax({
                url: '@Url.Action("_RecommenproductByCart", "Home")',
                type: 'POST',
                dataType: 'html',
                success: function (html) {
                    $("#RECOMENDBYCART").html(html);
                },
            });
        }
         function LoadRecomendByCartViewDetail() {
            $.ajax({
                url: '@Url.Action("_RecommenproductByCart2", "Home")',
                type: 'POST',
                dataType: 'html',
                success: function (html) {
                    $("#recomendByCart").html(html);
                },
            });
        }
        $('.UseSelect2').select2();
         function AddToCart(productid) {
            $.ajax({
                url: '@Url.Action("AddToCart","Home")',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "productId": productid }),
                contentType: 'application/json;charset=utf-8',
                success: function (rs) {
                    if (rs.Status == true) {
                        Lobibox.notify('success', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: rs.Message,
                            sound: false,
                        });
                        $("span#listCartCount").text(rs.Param);
                        ViewBoxCart();
                        UpdateContentViewCart();
                        LoadRecomendByCart();
                        LoadRecomendByCartViewDetail();
                    }
                    else {
                        Lobibox.notify('warning', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: rs.Message,
                            sound: false,
                        });
                    }
                },
            });
        }
        function DetailProduct(id) {
            $.ajax({
                url: '@Url.Action("_DetailProduct", "Home")',
                type: 'POST',
                dataType: 'html',
                data: JSON.stringify({"productId":id}),
                contentType: 'application/json;charset=utf-8',
                success: function (html) {
                    $("#ContentDetailProduct").html(html);
                },
            });
        }
        function LogOut() {
            $("#FLogOut").submit();
        }       
        $(document).ready(function () {
            Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
                soundPath: '../../PluginFrontend/lobibox-master/sounds/',
            });
        });
        function ViewBoxCart() {
            $.ajax({
                url: '@Url.Action("_PartialViewCart", "Home")',
                type: 'POST',
                dataType: 'html',
                success: function (html) {
                    $("#dropdownCart").html(html);
                }
            });
        }
        function UpdateContentViewCart() {
             $.ajax({
                url: '@Url.Action("_ViewCart", "Home")',
                type: 'POST',
                dataType: 'html',
                success: function (html) {
                    $("#ContentViewCart").html(html);
                }
            });
        }
        function DeleteFromCart(productId,quantity) {
             $.ajax({
                url: '@Url.Action("DeleteFromCart", "Home")',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "productId": productId}),
                contentType: 'application/json;charset=utf-8',
                success: function (rs) {
                    console.log(rs);
                    ViewBoxCart()
                    $("#listCartCount").text(parseInt($("#listCartCount").text()) - quantity);
                    let count = parseInt($("#listCartCount").text());
                    if (count == 0) {
                        $("#dropdownCart").removeClass("show-header-dropdown");
                    }
                    UpdateContentViewCart();
                    LoadRecomendByCart();
                    LoadRecomendByCartViewDetail();
                }
            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
