@model VnBookLibrary.Model.Entities.Employee

@{
    ViewBag.Title = "Sửa thông tin nhân viên";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h2>Sửa thông tin nhân viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        @Html.HiddenFor(model => model.EmployeeId)
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label " })<span style="color:red"> * </span>
                <div class="">
                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @Html.HiddenFor(model => model.LoginName)
            @Html.HiddenFor(model => model.Password)
            @Html.Hidden("RePassword",Model.Password)
            <div class="form-group">
                @Html.LabelFor(model => model.DateBirth, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.DateBirth, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
                    @Html.ValidationMessageFor(model => model.DateBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.IsBlock)
                @Html.LabelFor(model => model.IsBlock, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    <div class="checkbox">
                        @Html.ValidationMessageFor(model => model.IsBlock, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeTypeId, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.DropDownList("EmployeeTypeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group"style="margin-left:15px">
            <div class=" ">
                <input type="submit" value="Sửa" class="btn btn-success" />
            </div>
        </div>
    </div>
}
