@model IEnumerable<VnBookLibrary.Model.Entities.Employee>

@{
    ViewBag.Title = "Danh sách nhân viên | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Danh sách nhân viên <a style="float:right" href="@Url.Action("Create","Employees",new {area="Manage"})" class="btn btn-success btn-sm">Thêm nhân viên</a></h3>
<hr />
<table class="table table-bordered UseDataTables">
    <thead>
        <tr>
            <th>Loại nhân viên</th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th data-orderable="false">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>Tình trạng</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeType.EmployeeTypeName</td>
                <td>
                    @item.EmployeeName
                </td>
                <td>
                    @item.LoginName
                </td>
                <td>
                    @item.Email
                </td>

                <td>
                    @item.DateBirth
                </td>
                <td>
                    @item.Phone
                </td>
                <td>@(item.IsBlock == true ? "Bị khóa" : "Hoạt động")</td>
                <td style="text-align:center">
                    @*<a href="/Manage/Employees/Details/@item.EmployeeId"><i style="color:royalblue" class="glyphicon glyphicon-eye-open fa-lg"></i></a>*@
                    @* <a href="/Manage/Employees/Edit/@item.EmployeeId"><i class="glyphicon glyphicon-edit fa-lg"></i></a> |*@
                    @*@using (Html.BeginForm("Delete", "Employees", new { Area = "Manage", id = item.EmployeeId }, FormMethod.Post, new { style = "display:inline-block", onsubmit = "return confirm('Bạn có thực sự xóa không')" }))
                        {
                            <button style="border:none;background:transparent" type="submit"><i style="color:red" class="glyphicon glyphicon-trash fa-lg"></i></button>
                        }*@
                    @if (item.EmployeeType.IsAdministrator == false || item.EmployeeType.IsAdministrator == null)
                    {
                        if (item.IsBlock == false || item.IsBlock == null)
                        {
                            using (Html.BeginForm("BlockEmployee", "Employees", new { id = item.EmployeeId, IsBlock = true, Area = "Manage" }, FormMethod.Post, new { @id = "BlockCtm", style = "display:inline-block" }))
                            {
                                <a onclick="document.getElementById('BlockCtm').submit()" href="javascript:void(0)" style="padding:0px;color:black" class="fa fa-lock fa-lg" title="Khóa tài khoản"></a>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("BlockEmployee", "Employees", new { id = item.EmployeeId, IsBlock = false, Area = "Manage" }, FormMethod.Post, new { @id = "UnBlockCtm", style = "display:inline-block" }))
                            {
                                <a onclick="document.getElementById('UnBlockCtm').submit()" href="javascript:void(0)" style="padding:0px;color:black" class="fa fa-unlock fa-lg" title="Mở khóa tài khoản"></a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
