@model VnBookLibrary.Model.Entities.Tag
@using VnBookLibrary.Model.Entities;
@using System.Globalization;
@{
    ViewBag.Title = "Tạo nhãn | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
    List<Product> Products = (List<Product>)ViewBag.Products;
}

<h3 class="">Tạo nhãn</h3>
<hr />
@using (Html.BeginForm())
{

    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TagId, "Mã nhãn", htmlAttributes: new { @class = "control-label " })
                    <span style="color:red">*</span>
                    <div class="">
                        @Html.EditorFor(model => model.TagId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TagName, "Tên nhãn", htmlAttributes: new { @class = "control-label " })
                    <span style="color:red">*</span>
                    <div class="">
                        @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="padding-bottom:100px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Lựa chọn sách!</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped UseDataTables">
                        <thead>
                            <tr>
                                <th data-orderable="false" style="width:25px;text-align:center">
                                    <input id="ckbAll" type="checkbox" style="height:20px;width:20px" />
                                </th>
                                <th>
                                    Tên sách
                                </th>
                                <th>Giá bán</th>
                                <th>Giá bìa</th>
                                <th>Danh mục cấp 1</th>
                                <th>Danh mục cấp 2</th>
                                <th>Tác giả</th>
                                <th>NXB-NPH</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Products)
                            {
                                <tr>
                                    <td style="width:25px;text-align:center">
                                        <input name="ListProductId" value="@product.ProductId" class="ckbChoose" type="checkbox" style="height:20px;width:20px" />
                                    </td>
                                    <td style="width:120px;color:orangered">@product.ProductName</td>
                                    <td style="width:100px" data-order="@product.Price">@product.Price.ToString("c", new CultureInfo("vi-VN"))</td>
                                    <td style="width:100px" data-order="@product.CoverPrice">@((product.CoverPrice ?? 0).ToString("c", new CultureInfo("vi-VN")))</td>
                                    <td style="width:100px">@product.CategoryLv1.CategoryLv1Name</td>
                                    <td style="width:100px">@(product.CategoryLv2 != null ? product.CategoryLv2.CategoryLv2Name : "")</td>
                                    <td style="width:100px">@(product.CategoryByAuthor != null ? product.CategoryByAuthor.CategoryAuthorName : "")</td>
                                    <td style="width:100px">@(product.CategoryByPublisher != null ? product.CategoryByPublisher.CategoryByPublisherName : "")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group" style="width:100%;position:fixed;left:0px;bottom:0px;text-align:center">
            <input type="submit" style="width:30%;margin-left:216px" value="Thêm mới" class="btn btn-dropbox btn-lg" />
        </div>
    </div>
}
<script>
    $("#ckbAll").click(function () {
        if (this.checked) {
            $(".ckbChoose").prop('checked', true);
        }
        else {
            $(".ckbChoose").prop('checked', false);
        }
    })
    $(".ckbChoose").click(function () {
        $("#ckbAll").prop('checked', false);
    })
</script>