@model IEnumerable<VnBookLibrary.Model.Entities.Tag>

@{
    ViewBag.Title = "Danh sách nhãn | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Danh sách các nhãn,thẻ <a style="float:right" class="btn btn-success" href="@Url.Action("Create","Tags",new { Area="Manage"})">Thêm nhãn,thẻ</a></h3>
<div class="clearfix"></div>
<hr />
<table class="table table-bordered table-striped UseDataTables">
    <thead>
        <tr>
            <th>
                Mã nhãn
            </th>
            <th>
                Tên nhãn
            </th>
            <th>
                Mô tả nhãn
            </th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TagId
                </td>
                <td>
                    @item.TagName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.ActionLink("Xem | Sửa", "Edit", new { id = item.TagId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
