@model IEnumerable<VnBookLibrary.Model.Entities.Customer>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginName)
        </td>
        <td>@(item.IsBlock == true ? "Bị khóa" : "Hoạt động")</td>
        <td style="text-align:center">
            @if (item.IsBlock == false || item.IsBlock == null)
            {
                using (Ajax.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId, IsBlock = true, Area = "Manage" }, new AjaxOptions()
                {
                    OnSuccess = "SuccessBlockCustomer",
                    HttpMethod = "POST"
                }, new { @id = "BlockCtm" + item.CustomerId, style = "display:inline-block" }))
                {
                    <button type="submit" style="padding:0px;color:black;border:none;background: transparent" class=" fa fa-lock fa-lg" title="Khóa tài khoản"> Khóa</button>
                }
            }
            else
            {
                using (Ajax.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId, IsBlock = false, Area = "Manage" }, new AjaxOptions()
                {
                    OnSuccess = "SuccessBlockCustomer",
                    HttpMethod = "POST"
                }, new { @id = "UnBlockCtm" + item.CustomerId, style = "display:inline-block" }))
                {
                    <button style="padding:0px;color:black;border:none;background: transparent" type="submit" class=" fa fa-unlock fa-lg" title="Mở khóa tài khoản"> Mở khóa</button>
                }
            }
        </td>
    </tr>
}
