@model IEnumerable<VnBookLibrary.Model.Entities.Customer>

@{
    ViewBag.Title = "Danh sách khách hàng | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Danh sách khách hàng</h3>
<hr />
<table class="table table-bordered UseDataTables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>Tình trạng</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>@(item.IsBlock==true?"Bị khóa":"Hoạt động")</td>
                <td style="text-align:center">
                    @if (item.IsBlock == false || item.IsBlock == null)
                    {
                        using (Html.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId, IsBlock = true, Area = "Manage" }, FormMethod.Post, new { @id = "BlockCtm", style = "display:inline-block" }))
                        {
                            <a onclick="document.getElementById('BlockCtm').submit()" href="javascript:void(0)" style="padding:0px;color:black" class=" fa fa-lock fa-lg" title="Khóa tài khoản"></a>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId, IsBlock = false, Area = "Manage" }, FormMethod.Post, new { @id = "UnBlockCtm", style = "display:inline-block" }))
                        {
                            <a onclick="document.getElementById('UnBlockCtm').submit()" href="javascript:void(0)" style="padding:0px;color:black" class=" fa fa-unlock fa-lg" title="Mở khóa tài khoản"></a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
