@model IEnumerable<VnBookLibrary.Model.Entities.Customer>

@{
    ViewBag.Title = "Danh sách khách hàng | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Danh sách khách hàng</h3>
<hr />
<table class="table table-bordered UseDataTables" id="TableCustomer">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>Tình trạng</th>
            <th data-orderable="false">Khóa / Mở khóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>@(item.IsBlock==true?"Bị khóa":"Hoạt động")</td>
                <td style="text-align:center">
                    @if (item.IsBlock == false || item.IsBlock == null)
                    {
                        using (Ajax.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId,IsBlock=true, Area = "Manage" }, new AjaxOptions()
                        {
                            OnSuccess = "SuccessBlockCustomer",
                            HttpMethod = "POST"
                        }, new { @id = "BlockCtm"+item.CustomerId, style = "display:inline-block" }))
                        {
                            <button type="submit"  style="padding:0px;color:black;border:none;background: transparent" class=" fa fa-lock fa-lg" title="Khóa tài khoản"> Khóa</button>
                        }
                    }
                    else
                    {
                        using (Ajax.BeginForm("BlockCustomer", "Customers", new { id = item.CustomerId, IsBlock = false, Area = "Manage" }, new AjaxOptions()
                        {
                            OnSuccess = "SuccessBlockCustomer",
                            HttpMethod = "POST"
                        }, new { @id = "UnBlockCtm"+item.CustomerId, style = "display:inline-block" }))
                        {
                            <button style="padding:0px;color:black;border:none;background: transparent" type="submit" class=" fa fa-unlock fa-lg"  title="Mở khóa tài khoản"> Mở khóa</button>
                        }
                    }                       
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function SuccessBlockCustomer(rs) {
        LoadTableCustomer();
        if (rs.Status == true) {
            Lobibox.notify('success', {
                size: 'mini',
                rounded: true,
                delayIndicator: false,
                msg: rs.Message,
                sound: false,
            });
        }
        else {
            Lobibox.notify('warning', {
                size: 'mini',
                rounded: true,
                delayIndicator: false,
                msg: rs.Message,
                sound: false,
            });
        }
    }
    function LoadTableCustomer() {
        $.ajax({
            url: '@Url.Action("_TableCustomer", "Customers", new { Area = "Manage" })',
            type: 'GET',
            dataType: 'html',
            success: function (html) {
                $("#TableCustomer tbody").html(html)
            },
        });
    }
</script>
